.container-fleet {
    padding: 7rem;
    font-family: 'Montserrat', sans-serif;
    color: #174A83;
    position: relative;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleet-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    position: relative;
}

.arrow {
    background: none;
    border: none;
    font-size: 3rem;
    color: #174A83;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.left-arrow {
    left: -3.5rem;
}

.right-arrow {
    right: -3.5rem;
}

.plane-card {
    width: 100%;
    min-height: 30rem;
    perspective: 1000px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(-7deg);
}

.card-img-top {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    background-color: #ebf7ff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    backface-visibility: hidden;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text {
    font-size: 1.2rem;
}

@media (max-width: 850px) {
    .fleet-cards {
        width: 33rem;
    }

    .left-arrow {
        left: -2.5rem;
    }

    .right-arrow {
        right: -2.5rem;
    }

    .plane-card {
        width: 100%;
        min-height: 27rem;
    }

    .card-img-top {
        height: 22rem;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .card-text {
        font-size: 1rem;
    }
}

@media (max-width: 665px) {
    .fleet-cards {
        width: 18rem;
    }

    .left-arrow {
        left: -2.5rem;
    }

    .right-arrow {
        right: -2.5rem;
    }

    .plane-card {
        width: 100%;
        min-height: 15rem;
    }

    .card-img-top {
        height: 12rem;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1rem;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .container-fleet {
        padding: 2rem;
        min-height: 50vh;
    }
}
