.footer-dad {
  margin-bottom: 0;
}

.footer {
  background-color: #174A83;
  color: #95c8f1;
  padding: 3rem 0;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.footer-section {
  text-align: center;
  width: 20%;
  flex-grow: 1;
}

.footer-heading {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  color: #fff;
  margin-top: 0;
}

.footer-text {
  line-height: 1.6;
  font-size: 1rem;
}

.footer-text a {
  text-decoration: none;
  color: inherit;
}

.footer-text a:hover {
  color: #ffffff;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  margin-right: 15px;
  color: #95c8f1;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffffff;
}

.footer-logo {
  width: 8rem;
  height: auto;
  margin-bottom: 20px;
}

.copy-right {
  font-size: 1rem;
  text-align: center;
  color: #d3e5f3;
  flex-basis: 100%;
  align-self: flex-end;
  background-color: #174A83;
  padding-bottom: 2rem;
}

.copy-right p {
  margin: 0;
}

.copy-right span {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .footer-section {
    width: 100%;
    padding-bottom: 1.2rem;
  }
  .footer-heading{
    padding-bottom: 1rem;
  }
}
