.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
    color: #174A83;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #174A83;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.employee-name {
    font-size: 1.2em;
    padding-top: 15px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-item:hover,
.menu-item.active {
    background-color: #2ba1fc;
}

.menu-item p {
    margin: 0 0 0 10px;
}

.logout {
    background-color: #dc3545;
}

.logout:hover {
    background-color: #c82333;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 970px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar-header {
        display: flex;
        align-items: center;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }
    
    .menu.open {
        display: flex;
    }
    
    .menu-item {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
    
    .main-content {
        padding: 10px;
    }
}
