.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
    color: #174A83;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #174A83;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.employee-name {
    font-size: 1.2em;
    padding-top: 15px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-item:hover,
.menu-item.active {
    background-color: #2ba1fc;
}

.menu-item p {
    margin: 0 0 0 10px;
}

.logout {
    color: #e46471;
}

.logout:hover {
    background-color: #c82333;
    color: inherit;
}

.content-container {
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
}

.side-sections {
    width: 25%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    width: 75%;
    box-sizing: border-box;
}

@media (max-width: 970px) {
    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .menu.open {
        display: flex;
    }

    .menu-item {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .content-container {
        flex-direction: column;
    }

    .side-sections {
        width: 100%;
        padding: 10px;
        border-right: none;
    }

    .main-content {
        width: 100%;
        padding: 10px;
    }
}
