.form-login {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.login-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.input-login {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-full-width {
    width: 100%;
}

.password-group {
    position: relative;
}

.password-input-wrapper {
    display: flex;
    align-items: center;
}

.password-input {
    flex: 1;
}

.password-toggle-icon {
    margin-left: -30px;
    cursor: pointer;
}
