.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.div-image {
    padding: 4rem;
}

.img-fluid{
    width: 16rem;
}

.div-text {
    flex: 1;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 4rem;
    opacity: 0;
    animation: fadeIn 2s forwards;
    color: #174A83;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1250px) {
    .flex-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .div-image {
        display: block;
        padding: 4rem;
    }
    .div-text {
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}
