.rbc-btn-group{

    border-radius: 30vh;
    color: white;
}

.rbc-header {
    background: rgba(21, 39, 53,0.95);
    color: white;
}

.rbc-active{
    color: white;
    background: rgba(21, 39, 53,0.95);
}

.rbc-day-bg{
    background-color: rgb(255,255,255,0.5);
    border: 0.5px solid black;
    color: rgba(251, 11, 11, 0.404);
    border-width: 1px;
    margin: 0px;
    
}

.rbc-off-range-bg{
    background-color: grey;
    color: rgba(255, 166, 0, 0.537)
}

.rbc-row-content{
    font-size: 1vh;
    font-weight: bold;
}

.rbc-today{
  background-color: lightblue;
} 

.accordion-header {
    background: blue;
}

.rbc-event{
    background-color: transparent;
    padding: 0px
}




