.nav-item:hover {
    cursor: pointer
}
.pending{
    background-color: rgba(158, 157, 158, 0.5);
}
.accepted{
    background-color: rgba(3, 109, 3, 0.5);
}
.rejected{
    background-color: rgba(243, 74, 74, 0.5);
}
.header{
    background-color: rgba(92, 166, 209, 0.5);
}
.nav-tabs .nav-item .nav-link.active {
    background-color: rgba(95, 174, 219, 0.5);
    border-color: rgba(95, 174, 219);
}
.nav-tabs {
    border-color: rgba(95, 174, 219);
}
.budget-row:hover{
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer
}
.nav-link{
    color: black;
    font-weight: bold;
}